@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Sora:wght@100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sora','Lora', serif;
}

.container {
  padding: 60px 80px;
  margin-inline: auto;
}

.container-content {
  max-width: 1280px;
  margin-inline: auto;
}

.px-32 {
  padding-inline: 32px;
}

.w-600 {
  width: 800px;
}

.h-376 {
  height: 376px;
}

.py-20 {
  padding-block: 20px;
}

.fs-1 {
  font-size: 2rem;
}

.lh-3-5  {
  line-height: 3.5rem;
}

.text-outline {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.text-no-wrap {
  white-space: nowrap;
}

.fs-5 {
  font-size: 1rem;
}

.text-balance {
  text-align: balance;
}

.mt-20 {
  margin-top: 20px;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.w-60 {
  width: 60px;
}

.h-60 {
  height: 60px;
}

.img-card {
  border-radius: 5%;
  border: 2px solid #000;
}

.g-32 {
  gap: 32px;
}

.img-icon {
  width: 25px;
  height: 25px;
}

.h-full {
  height: 100%;
}

.img-card:hover {
  background-color:#333333;
}

.w-300 {
  width: 300px;
}

.mt-110 {
  margin-top: 110px;
}

.flex-column {
  flex-direction: column;
}

.ps-r {
  position: relative;
}

.ps-a {
  position: absolute;
}

.b-0 {
  bottom: -20px;
}

.justify-content-space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.fs-4 {
  font-size: 1.5rem;
}

.text-bold {
  font-weight: 700;
}

.text-white {
  color: #fff;
}

.bg-dark {
  background-color: #000;
}

.w-186 {
  width: 186px;
}

.h-186 {
  height: 186px;
}

.img-card-skills {
  border-radius: 2%;
  border: 2px solid #000;
}

.img-icon-skills {
  width: 60px;
  height: 60px;
}

.img-card-skills:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: none;
}

.h-96 {
  height: 96px;
}

.grid {
  display: grid;
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-rows-2 {
  grid-template-rows: repeat(2, 1fr);
}


/* My Experience */
.cl-w {
  color: #fff;
}
.fs-32 {
  font-size: 28px;
}
.g-20 {
  gap: 20px;
}

.border-1 {
  border: 1px solid #fff;
}

.border-radius-5 {
  border-radius: 5px;
}

.p-20 {
  padding: 20px;
}


.w-full {
  width: 100%;
}

.g-40 {
  gap: 40px;
}

.g-10 {
  gap: 10px;
}

.fs-56 {
  font-size: 56px;
}

.fs-40 {
  font-size: 40px;
}

.testimony-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 370px;
  height: 398px;
  border-radius: 5%;
}

.p-40 {
  padding: 40px;
}

.testimony-card:hover {
  background-color: #000;
  color: #fff;
}

.img-quotes {
  position: absolute;
  left: 57%;
  bottom: 0;
  z-index: 99;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: #000;
}

.input-form {
  width: 500px;
  height: 56px;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 20px;
  font-size: 16px;
  font-family: 'Sora';
}

.btn.btn-primary {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  height: 56px;
  width: 173px;
  font-family: 'Sora';
}

.fs-32 {
  font-size: 32px;
}

.text-gray {
  color: #71717A;
}

.pr-40 {
  padding-right: 40px;
}

.g-30 {
  gap: 30px;
}